@import "tailwindcss";

.box1, .box2, .box3 {
  width: 100px;
  height: 100px;
  background: tomato;
  margin: 20px;
  position: relative;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

body{
  height: 100%;
  width: 100%;
  background-color: black;
  color:white;
  position: relative;
}
